.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  width: 100%;
  background-color: $yellow-main;
  border-style: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $red-main;

  &:hover,
  &:focus,
  &:active {
    background-color: $yellow-button-hover;
  }

  &--close {
    position: absolute;
    top: 33px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/modal-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  }

  &--goods {
    justify-content: flex-start;
    padding: 25px 35px 25px 20px;
    letter-spacing: 2px;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-image: url('../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
    }
  }

  &--order {
    padding: 20px;
    padding-right: 35px;
    justify-content: flex-start;
    letter-spacing: 2px;

    &::after {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-image: url('../img/buy-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px;
    }
  }

  &--special {
    padding: 20px;
    padding-right: 35px;
    background-color: $red-main;
    color: $white-basic;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &::after {
      content: '';
      position: absolute;
      width: 22px;
      height: 22px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background-image: url('../img/buy-icon-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $red-main-80;
    }
  }

  &--form {
    background-color: $red-main;
    color: $white-basic;

    &:hover,
    &:focus,
    &:active {
      background-color: $red-main-80;
    }
  }
}
