.contact-us {
  margin-bottom: 30px;
  text-align: center;
}

.contact-us__title {
  margin: 0;
  margin-bottom: 15px;
  color: $brown-contact;
}

.contact-us__user-list {
  margin-bottom: 10px;
}

@media (min-width: $laptop-width) {
  .contact-us {
    text-align: left;
  }
}
