.form {
  &--feedback {
    .form__wrapper {
      padding: 20px;
    }

    .form__user-text {
      padding: 15px;
      width: 100%;
      border: 1px solid $brown-contact;
      outline: none;
      resize: none;
      min-height: 200px;

      &:hover,
      &:focus,
      &:active {
        border: 1px solid $black-red-main;
      }

      &::placeholder {
        color: $red-background;
      }
    }
  }

  &--buy {
    .form__wrapper {
      padding: 15px;
    }

    .form__empty-cart {
      display: none;
      margin: 0;
      padding: 5px 15px;
      font-style: 15px;
      line-height: 20px;
      font-weight: 700;
      text-align: center;
    }

    .form__title {
      position: relative;
      padding-left: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        height: 25px;
        background-image: url('../../img/shopping-cart.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transform: translateY(-50%);
      }
    }

    .form__order-description {
      margin: 0;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 20px;
    }

    .form__description {
      font-size: 14px;
      line-height: 20px;
    }

    .form__summary {
      margin-bottom: 15px;
    }

    .form__button {
      align-self: center;
      max-width: 400px;
    }

    .form__order-list {
      @include list-reset;
      margin-bottom: 15px;
    }

    .form__order-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.form__wrapper {
  background: $yellow-main;
  color: $black-red-main;
}

.form__description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.form__input-wrapper {
  position: relative;
  margin-bottom: 10px;

  &::before {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
  }

  &--name {
    &::before {
      content: '';
      left: 10px;
      width: 30px;
      height: 20px;
      background-image: url('../img/user-icon.svg');
      background-repeat: no-repeat;
      background-size: 30px 20px;
      background-position: center;
    }
  }

  &--tel {
    &::before {
      content: '+7';
      left: 20px;
      color: $black-red-main;
    }
  }

  &--mail {
    &::before {
      content: '';
      left: 10px;
      width: 30px;
      height: 20px;
      background-image: url('../img/contacts-mail-active.svg');
      background-repeat: no-repeat;
      background-size: 30px 20px;
      background-position: center;
    }
  }
}

.form__input {
  padding: 15px 15px 15px 50px;
  width: 100%;
  line-height: 23px;
  border: 1px solid $brown-contact;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $yellow-main;
  }

  &::placeholder {
    font-size: 12px;
    color: $red-background;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.form__input-required-icon {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  color: $red-main;
}

@media (min-width: $mobile-tablet-width) {
  .form {
    &--buy {
      .form__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 20px;
      }

      .form__title {
        align-self: center;
        padding-left: 30px;
  
        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (min-width: $laptop-width) {
  .form {
    &--buy {
      .form__wrapper {
        flex-direction: row;
        justify-content: center;
        padding: 30px;
      }

      .form__title {
        font-weight: 600;
        font-size: 25px;
        line-height: 32px;

        &::before {
          width: 25px;
          height: 25px;
        }
      }

      .form__summary {
        width: 100%;
      }

      .form__order-description {
        width: 100%;
      }

      .form__order-list {
        width: 100%;
      }

      .form__description {
        text-align: left;
      }

      .form__input-wrapper {
        &--name {
          width: calc((100% - 10px) / 2);
          margin-right: 10px;
        }

        &--tel {
          width: calc((100% - 10px) / 2);
        }

        &--mail {
          width: 100%;
        }
      }
    }
  }
}
