.kit-list {
  @include list-reset;
}

.kit-list__item {

}

.kit-list__title {
  margin: 0;
}

.kit-list__price {

}

.kit-list__description {
  margin: 0;
  padding: 0;
}

.kit-list__advantages {

}

.kit-list__photo {

}

.kit-list__image {

}

.kit-list__button {

}
