.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  background-color: $black-basic-70;
}

.main-info__title {
  width: 80%;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.main-info__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

.main-info__button {
  margin-bottom: 30px;
  max-width: 240px;
}

.main-info__user-list {
  margin-bottom: 20px;
}

@media (min-width: $laptop-width) {
  .main-info {
    margin-left: auto;
    padding: 99px 64px 84px 64px;
    width: 42%;
  }

  .main-info__title {
    margin-bottom: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
  }

  .main-info__text {
    margin-bottom: 30px;
    width: 90%;
    max-width: 375px;
    font-size: 18px;
    line-height: 31px;
    color: $white-basic;
    text-align: left;
  }

  .main-info__button {
    max-width: 375px;
  }

  .main-info__user-list {
    margin-bottom: 14px;
  }
}
