.navigation {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.navigation__link {
  position: relative;
  display: inline-block;
  padding: 7px 0;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 2px solid $yellow-main;
  color: $yellow-main;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 5px 0;
    max-width: 0;
    border-top: 2px solid $white-basic;
    color: $white-basic;
    content: attr(data-hover);
    transition: max-width 0.5s;
  }

  &:hover {
    border-bottom: 2px solid $white-basic;

    &::before {
      max-width: 100%;
    }
  }
}

@media (min-width: $laptop-width) {
  .navigation {
    padding: 0;
    width: auto;
    flex-direction: row;
  }

  .navigation__list {
    flex-direction: row;
    align-items: center;
  }

  .navigation__item {
    margin-bottom: 0;
    margin-right: 60px;
    text-align: center;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
