.order-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: $white-basic;
}

.order-item__photo {
  display: none;
  overflow: hidden;
  border-radius: 5px;
}

.order-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-item__name {
  grid-column-start: 1;
  grid-column-end: 3;
}

.order-item__name-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $black-basic-50;
}

.order-item__name-text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.order-item__weight {
  font-size: 10px;
  line-height: 15px;
}

.order-item__number {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order-item__input {
  margin-right: 5px;
  padding: 5px 10px;
  width: 30%;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  order: 2;
  border: 1px solid $black-basic;
  outline: none;
  -moz-appearance: textfield;

  &:hover {
    border-color: $black-basic-50;
  }

  &:focus,
  &:active {
    border: 1px solid $yellow-main;
  }
}

.order-item__input::-webkit-outer-spin-button,
.order-item__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-item__input:hover,
.order-item__input:focus {
  -moz-appearance: number-input;
}

.order-item__label {
  margin-bottom: 5px;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $black-basic-50;
  order: 1;
}

.order-item__unit {
  order: 3;
}

.order-item__price {
  grid-column-start: 2;
  grid-column-end: 3;
}

.order-item__price-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: $black-basic-50;
}

.order-item__price-value {
  font-size: 12px;
  line-height: 15px;
}

.order-item__summary {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.order-item__summary-title {
  margin: 0;
  margin-right: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.order-item__summary-value {
  font-size: 15px;
  line-height: 20px;
}

@media (min-width: $mobile-tablet-width) {
  .order-item {
    padding: 15px;
  }

  .order-item__name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .order-item__name-title {
    margin-bottom: 0px;
    margin-right: 15px;
  }
  
  .order-item__name-text {
    margin: 0;
    margin-right: 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .order-item__input {
    width: 15%;
  }

  .order-item__label {
    margin-bottom: 0;
    margin-right: 5px;
    width: auto;
  }

  .order-item__unit {
    font-size: 12px;
    line-height: 15px;
  }

  .order-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .order-item__price-title {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media (min-width: $tablet-width) {
  .order-item {
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 20px;
    row-gap: 0;
    grid-template-areas:
    'photo good price'
    'photo number summary';
  }

  .order-item__photo {
    grid-area: photo;
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
  }

  .order-item__name {
    grid-area: good;
    display: block;
  }

  .order-item__name-title {
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 15px;
    line-height: 20px;
  }

  .order-item__name-text {
    margin-right: 0;
    font-size: 24px;
    line-height: 32px;
  }

  .order-item__label {
    font-size: 15px;
    line-height: 20px;
  }

  .order-item__unit {
    font-size: 16px;
    line-height: 28px;
  }

  .order-item__price {
    grid-area: price;
    display: block;
  }

  .order-item__price-title {
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 15px;
    line-height: 20px;
  }

  .order-item__price-value {
    font-size: 16px;
    line-height: 28px;
  }

  .order-item__number {
    grid-area: number;
  }

  .order-item__summary {
    grid-area: summary;
  }
  
  .order-item__summary-title {
    font-size: 18px;
    line-height: 32px;
  }

  .order-item__summary-value {
    font-size: 20px;
    line-height: 32px;
  }
}