.page-header {
  padding-top: 13px;
  padding-bottom: 15px;

  &--nojs {
    .page-header__navigation {
      display: flex;
      justify-content: center;
    }
  }

  &--opened {
    .page-header__navigation {
      display: flex;
      justify-content: center;
      transition: 0.5s all;
    }
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__navigation {
  display: none;
  order: 2;
}

.page-header__logo {
  display: inline-flex;
  margin-right: auto;
  width: 45px;
  height: 45px;
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 20px;
    
    &--nojs {
      .page-header__navigation {
        display: flex;
        order: 1;
      }

      .page-header__toggle {
        display: none;
      }
    }

    &--opened {
      .page-header__navigation {
        display: flex;
        order: 1;
      }

      .page-header__toggle {
        display: none;
      }
    }

    .page-header__navigation {
      display: flex;
    }

    .page-header__toggle {
      display: none;
    }
  }
}
