.page-footer {
  padding-top: 60px;
  padding-bottom: 30px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.page-footer__shop-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.page-footer__logo {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.page-footer__image {
  width: 100%;
  height: 100%;
}

.page-footer__address {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  color: $white-basic;
  text-align: center;
}

.page-footer__socials {
  margin-bottom: 20px;
}

.page-footer__user-list {
  margin-bottom: 20px;
}

.page-footer__docs {
  @include list-reset;
  position: relative;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, 
      $yellow-main, 
      rgba(0, 0, 0, 0)
    ) 1 40%;

  a {
    font-size: 12px;
    line-height: 15px;
    color: $yellow-main;

    &:hover,
    &:focus {
      color: $white-basic;
    }

    &:active {
      color: $white-basic;
      opacity: 0.7;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .page-footer__title {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
  }

  .page-footer__shop-info {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 20px;
  }

  .page-footer__socials {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .page-footer__user-list {
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .page-footer__docs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;

    a {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media (min-width: $laptop-width) {
  .page-footer {
    padding-top: 150px;
    padding-bottom: 90px;
  }

  .page-footer__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .page-footer__title {
    width: 100%;
  }

  .page-footer__shop-info {
    width: 30%;
    order: 4;
  }

  .page-footer__logo {
    width: 60px;
    height: 60px;
  }

  .page-footer__address {
    font-size: 14px;
    line-height: 17px;
  }

  .page-footer__socials {
    margin: 0 auto;
    width: 30%;
    order: 3;
  }

  .page-footer__user-list {
    width: 30%;
    order: 2;
  }

  .page-footer__docs {
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    order: 5;
  }
}
