.promo {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: url('../img/main-background-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $red-background;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, $black-red-main, transparent 60%);
  }
}

@media (min-width: $laptop-width) {
  .promo {
    padding-top: 54px;
    padding-bottom: 54px;
    background-image: url('../img/main-background.jpg');
  }

  .promo__main-info {
    margin-right: -100px;
  }
}
