.sets {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $yellow-main;
  color: $black-red-main;
}

.sets__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }

  p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }
}

.sets__download {
  display: block;
  position: relative;
  padding: 10px 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
  color: $black-red-main;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 40px;
    background-image: url(../img/pdf-icon.svg);
    background-size: 30px 40px;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.sets__link {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: $black-red-main;

  a {
    color: $black-red-main;
    text-decoration: underline;
    &:hover {
      color: $red-main;
    }
  }
}

.sets__sliders {
  h3 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: $laptop-width) {
  .sets__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

  }

  .sets__info {
    align-items: flex-start;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;

    p {
      text-align: left;
    }
  }

  .sets__sliders {
    min-width: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (min-width: 1338px) {
  .sets {
    padding-top: 132px;
    padding-bottom: 132px;
  }

  .sets__info {
    grid-column-start: 2;
    grid-column-end: 3;

    h2 {
      display: inline-block;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 13px;
      font-size: 55px;
      line-height: 80px;

      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $red-main;
      }
    }

    p {
      margin-bottom: 40px;
      text-align: left;
    }
  }
}
