.sets {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $yellow-main;
  color: $black-red-main;
}

.sets__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
  }
  
  p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 1338px) {
  .sets {
    padding-top: 132px;
    padding-bottom: 132px;
  }

  .sets__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 50px;
  }

  .sets__info {
    align-items: flex-start;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;

    h2 {
      display: inline-block;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 13px;
      font-size: 55px;
      line-height: 80px;
  
      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: $red-main;
      }
    }
  
    p {
      margin-bottom: 40px;
      text-align: left;
    }
  }

  .sets__kit-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
