.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  position: relative;
  display: block;
  padding: 15px;
  z-index: $z-index-socials-icon;


}

.socials__icon {
  position: absolute;
  top: 0;
  left: 0;

  path {
    fill: inherit;
  }

  use {
    fill: $white-basic;
  }

  &:hover,
  &:focus,
  &:active {
    use {
      fill: $yellow-main;
    }
  }
}
