.socials {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials__item {
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  // padding: 15px;
  z-index: $z-index-socials-icon;
}

.socials__icon {
  position: absolute;
  top: 0;
  left: 0;

  path {
    fill: inherit;
  }

  use {
    fill: $white-basic;
  }

  &:hover,
  &:focus,
  &:active {
    use {
      fill: $yellow-main;
    }
  }

  &--secondary {
    use {
      fill: $brown-contact;
    }

    &:hover,
    &:focus,
    &:active {
      use {
        fill: $white-basic;
      }
    }
  }
}

@media (min-width: $laptop-width) {
  .socials {
    &--footer {
      .socials__item {
        margin-right: 0;
      }

      .socials__link {
        width: 60px;
        height: 60px;
      }

      .socials__icon {
        width: 60px;
        height: 60px;
      }
    }

    &--secondary {
      justify-content: flex-start;
    }
  }

  .socials__item {
    margin-right: 48px;
  }
}
