$z-index-feedback-section: 1;
$z-index-feedback-container: 2;
$z-index-feedback-content: 3;
$z-index-background: 2;
$z-index-socials-icon: 5;
$z-index-product-card-name: 5;
$z-index-over-text: 5;
$z-index-product-card: 10;
$z-index-product-card-link: 20;
$z-index-button-up: 50;
$z-index-header: 100;
